html {
	position: relative;
	min-height: 100%;
}

body {
	padding-top: 0px;
	padding-bottom: 0px;
	
	margin-bottom: 0px;
}

select.form-control {
	 display: inline-block;
}

input.form-control {
	 display: inline-block;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	heigt: 50px;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 10% auto 20px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"]
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/* Fancy Forms */

.fancy-form label.fancy-input {
    position: relative;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid lightgray;
    overflow: hidden;
/*    width: 100%; */
}

.fancy-form label.fancy-input input,.fancy-form label.fancy-input textarea {
    padding-left: 2px;
    padding-top: 5px;
    font-size: 16px;
    /*    width: 100%; */
    border: none;
    height: 50px;
    text-indent: 10px;
    background-color: transparent;
}

.fancy-form label.fancy-input .input-wrap {
    position: relative;
    z-index: 2
}

.fancy-form label.fancy-input .placeholder {
    position: absolute;
    top: 17px;
    z-index: 1;
    padding-left: 14px;
    transition: top .1s,font-size .1s;
    font-size: 16px;
    font-weight: normal;
    white-space: nowrap; 
    cursor: text;
    color: #999;
}

.fancy-form label.fancy-input .feedback {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 3;
    color: darkred;
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    /* display: none; */
}

.fancy-form label.fancy-input.focus .feedback {
    display: block;
}

.fancy-form label {
	height: 50px;
}

.fancy-input-select {
	height: 50px !important;
}

.fancy-input-select > span.select2.select2-container.select2-container--default {
	margin-top: 15px;
}

.fancy-input-select > span.select2 > span.selection > span.select2-selection {
	border: none;
}

.fancy-input-select > span.select2 > span.selection > span.select2-selection > span.select2-selection__rendered {
	text-indent: 15px;
}


.fancy-form select.fancy-custom-select {
    margin-left: 11px;
    margin-top: 11px;
    width: 100% !important;
    height: 55px !important
}

.fancy-form select.fancy-custom-select option {
    color: #000
}

.fancy-form .fancy-custom-select-span {
    padding: 16px 12px;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    padding-top: 18px;
    padding-bottom: 13px
}

.fancy-form .fancy-custom-select-span .fancy-custom-select-spanInner {
    width: 100% !important;
    font-size: 16px
}

.fancy-form .fancy-custom-select-span:after {
    position: absolute;
    top: 10px;
    right: 5px;
    bottom: 0;
    font-size: 16px;
    line-height: 30px;
    padding: 0 7px;
    background: transparent;
    color: white;
    pointer-events: none
}

.grid-container {
	display: grid;
	grid-gap: 15px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.ul-columns li {
	-webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
    display:table;                      /* Actually FF 20+ */
}

#searchingSpinner {
	text-align: center;
	width: 200px;
	font-weight: bold;
	margin: 200px auto;
	display: none;
}

/* css3 animated dots - http://jsfiddle.net/feklee/D59P9/ - http://stackoverflow.com/questions/15382608/punctuation-loading-animation-javascript#answer-24349758 */
@keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }
@-webkit-keyframes dots-1 { from { opacity: 0; } 25% { opacity: 1; } }
@-webkit-keyframes dots-2 { from { opacity: 0; } 50% { opacity: 1; } }
@-webkit-keyframes dots-3 { from { opacity: 0; } 75% { opacity: 1; } }

.dots span {
    animation: dots-1 1s infinite steps(1);
    -webkit-animation: dots-1 1s infinite steps(1);
}

.dots span:first-child + span {
    animation-name: dots-2;
    -webkit-animation-name: dots-2;
}

.dots span:first-child + span + span {
    animation-name: dots-3;
    -webkit-animation-name: dots-3;
}

/* for desktop */
.grid-container {
	margin: 10px;
    display: grid;
	grid-gap: 15px;
	grid-template-columns: auto auto auto auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.grid-container {
		margin: 10px;
	    display: grid;
		grid-gap: 15px;
		grid-template-columns: auto;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.grid-container {
		margin: 10px;
	    display: grid;
		grid-gap: 15px;
		grid-template-columns: auto auto;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.grid-container {
		margin: 10px;
	    display: grid;
		grid-gap: 15px;
		grid-template-columns: auto auto auto;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.grid-container {
		margin: 10px;
	    display: grid;
		grid-gap: 15px;
		grid-template-columns: auto auto auto auto;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .grid-container {
    	margin: 10px;
	    display: grid;
		grid-gap: 15px;
		grid-template-columns: auto auto auto auto auto;
	}
}

.panel-meal-heading {
	padding: 3px 10px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

/* Initially hide most information */
.panelChildBody {
	display: none;
}

.meal-panel {
	min-width: 240px;
	max-width: 250px;
	border: 1px solid transparent;
	border-radius: 4px;
	border-color: #ddd;
	box-shadow: 0 1px 1px rgba(0 ,0, 0, 0.5);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin-bottom: 20px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
